$color-light-yellow:#f1d666;
$color-yellow:#ffd62c;
$color-dark-yellow: #ecb716;
$color-black: #161616;
$color-white: #ffffff;
$color-secondary-text: #a8a7a7;
$color-border: #c4c0c0;
$color-text: #35373F;

$font-size-h1: 2rem;
$font-size-a: 2rem;
$font-size-body: 1.6rem;
$font-size-p: 1.2rem;

$font-family: 'Rubik', sans-serif;

